body{
    margin: 0%;
}
.ca{
    background: #212026;
}
.cb{
    background: #49B1F2;
}
.cc{
    background: #04B2D9;
}
.cd{
    background:#0397DA;
}
.ce{
    background: #012535;
}
.cf{
    background: #025981;
}
.a{
    text-align: center;
    color: #ffff;
}